
#toolbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#menu{
    display: flex;
    align-items: center;
}
/* #menu #menuicon{
    padding-right: 10px;
    cursor: pointer;
} */
#search{
    display: flex;
    align-items: center;
    background-color: #e6e6e659;
    /* background-color: alpha(theme.palette.common.white, 0.15) */
    border-radius: 5px;
    padding: 3px;
}
#search:hover{
    background-color: #c4c4c459;
}
#icons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}        
#icons > Avatar{
    cursor: pointer;
}